@font-face {
  font-family: ComicRelief;
  src: url(fonts/ComicRelief.woff) format(woff);
  font-display: swap;
}

body {
  font-family: 'Comic Sans MS', ComicRelief;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 1.3rem;
}

main {
  flex: 1;
  padding: 3vw;
  padding-top: 0px;
}

header {
  text-align: center;
  
}

#desktopHeader {
  background: linear-gradient( white -20%, #87ceeb 50%, #FFEACE 90%)
}

#mobileHeader {
  background: none;
}

body {
  background-color: #FFEACE;
  /* background: linear-gradient(#FFEACE 30%, #F2EBDA); */
}

#hamburgerContainer {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  color: lightgray;
  background-color: rgb(142, 112, 87, 255);
  font-size: 1.2rem;
  padding: 0.7vw;
  text-align: center;
  margin: 0px;
}

h1, h2, p, ul {
  color: #333;
  line-height: 1.5;
  margin-block-start: 0px;
}

.navbar {
  overflow: hidden;
}

#desktopNavbar .navlink {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: -0.5vw;
  margin-bottom: 5vw;
  text-shadow: 0vw 0vw 0.8vw lightgray;
  /* filter: drop-shadow(-0.1vw -0.1vw 0.35vw white); */
  background-position: center;
  font-size: 1.5vw;
}

a {
  color: black;
  text-decoration: none;
  display: inline;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(var(--translationStart, 0));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--translationEnd, 0));
  }
}

/* 
#desktopNavbar .navlink:hover {
  animation-play-state: paused;
  filter: drop-shadow(0.1vw 0.1vw 0.35vw white);
  color: black;
} */

#desktopNavbar {
  /* background-color: #333; */
  margin-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.logo-img {
  max-width: 67vw;
  width: 100%;
  height: auto;
}

.logo-container {
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172)) drop-shadow(-0.2vw -0.2vw 1vw white);
}

.hidden {
  display: none;
}

/* Style the navigation menu */
#mobileNavbar {
  display: none;
  text-align: right;
  margin-bottom: 1vh;
}

/* Style navigation menu links */
.pencil {
  color: white;
  padding: 0px 12vw 0px 0px;
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
  display: block;
  text-shadow: black 0px 0px 6vw;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172));
  height: 10vw;
  line-height: 10vw;
  font-size: 5vw;
  margin-right: -8vw;
}

.navlink {
  background-repeat: no-repeat;
  text-decoration: none;
  display: block;
  background-position: center;
}

/* Add a grey background color on mouse-over */
.pencil:hover {
  background-color: #ddd;
  color: black;
}

#hamburgerIcon {
  width: 13vw;
  /* margin-right: 3vw; */
  margin-left: 5vw
}


.kite-inner-border {
  fill: #8ab93a;
}

.kite-lower-half {
  fill: #08a2db;
}

.kite-upper-half {
  fill: #f8cf0c;
}

.kite-outer-border {
  fill: none;
  stroke: #e63030;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}

.kite-mouth, .kite-tail {
  fill: #e63030;
}

.kite-eyes {
  fill: #0c69ab;
}

#kite {
  animation: rotateAnimation 1.5s ease-in-out infinite alternate;
  transform-origin: 10% 10%;
  margin-top: 1vw;
  max-width: 20vw;
  width: 100%;
  height: auto;
  margin-right: -13.7vw;
}


@keyframes rotateAnimation {
  0% {
    transform: translateX(-0.2vw) translateY(0vw) rotate(-1.5deg);
  }
  100% {
    transform: translateX(0vw) translateY(0vw) rotate(1.5deg);
  }
}


/* Hide the checkbox input */
#hiddenToggle {
  display: none;
}

/* Style the label as a button with the arrow */
.arrow {
  /* background-color: #3498db; */
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid;
  border-color: rgb(142, 112, 87, 255);
  background-color: rgb(142, 112, 87, 255);
  font-size: 0.9rem;
  filter: drop-shadow(0.1vw 0.1vw 0.15vw black);
}

.arrow:active {
  color: black;
  background-color: white;
  border-color: black;
}

/* Initially hide the content */
.hiddenContent {
  display: none;
}

/* When the checkbox is checked, show the content */
#hiddenToggle:checked + .arrow + .hiddenContent {
  display: block;
}

.profileImage {
  border-radius: 50%;
  /* max-width: 50vw; */
  min-width: 20vh;
  width: 20vw;
}