@font-face {
  font-family: ComicRelief;
  src: url(fonts/ComicRelief.woff) format(woff);
  font-display: swap;
}

body {
  font-family: 'Comic Sans MS', ComicRelief;
  padding: 0;
  background-color: #F2EBDA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  padding: 3vw;
  padding-top: 0px;
}

header {
  text-align: center;
  background-color: #F2EBDA;
}

#hamburgerContainer {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1, h2, p, ul {
  color: #333;
  line-height: 1.5;
  margin-block-start: 0px;
}

.navbar {
  overflow: hidden;
}

#desktopNavbar .navlink {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: -1.5vw;
  margin-bottom: 3vw;
  text-shadow: 0vw 0vw 0.4vw lightblue;
  background-position: center;
  filter: drop-shadow(0.4vw 0.4vw 0.35vw rgb(255, 255, 255));
  font-size: 1.5vw;
}

#desktopNavbar .navlink:hover{
  filter: drop-shadow(0.1vw 0.1vw 0.35vw white);
  color: black;
}

#desktopNavbar {
  /* background-color: #333; */
  margin-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  background-color: #ffe4b5;
  padding: 10px;
  text-align: center;
}

.logo-img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172));
}

.logo-container {
  margin-left: 3vw;
  margin-right: 3vw;
}

.hidden {
  display: none;
}

/* Style the navigation menu */
#mobileNavbar {
  display: none;
  text-align: right;
  margin-bottom: 1vh;
  margin-right: -8vw;
}

/* Style navigation menu links */
.pencil {
  color: white;
  padding: 0px 12vw 0px 0px;
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
  display: block;
  text-shadow: black 0px 0px 22px;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172));
  height: 10vw;
  line-height: 10vw;
  font-size: 5vw;
}

.navlink {
  background-repeat: no-repeat;
  text-decoration: none;
  display: block;
  background-position: center;
}

/* Add a grey background color on mouse-over */
.pencil:hover {
  background-color: #ddd;
  color: black;
}

#hamburgerIcon {
  width: 13vw;
  margin-right: 3vw;
}