@font-face {
  font-family: ComicRelief;
  src: url(fonts/ComicRelief.woff) format(woff);
  font-display: swap;
}

/* Pallete - #89CFEB #7B3000 #FFEACE #8F7158 */

html {
  font-family: 'Comic Sans MS', ComicRelief;
  font-size: 2.35vmin;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.mobileBody {
  background: linear-gradient(rgba(137, 207, 235, 0.7) 0%, #FFEACE 32vw);
}

main {
  flex: 1;
  padding: 3vw;
  padding-top: 0px;
}

header {
  text-align: center;
}

#desktopHeader {
  background: linear-gradient( white -20%, #87ceeb 50%, #FFEACE 90%);
}

#mobileHeader {
  padding-bottom: 5vw;
}

body {
  background-color: #FFEACE;
}

#hamburgerContainer {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: white;
  background-color: rgb(142, 112, 87, 255);
  font-size: 1.2rem;
  padding: 0.7vw;
  text-align: center;
  margin: 0px;
}

h1, h2, p, ul {
  color: #333;
  line-height: 1.5;
  margin-block-start: 0px;
}
h1 {
  font-size:1.2em;
}
h2 {
  font-size:1.1em;
}
.navbar {
  overflow: hidden;
}

#desktopNavbar .navlink {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: -0.5vw;
  margin-bottom: 5vw;
  text-shadow: 0vw 0vw 0.8vw lightgray;
  /* filter: drop-shadow(-0.1vw -0.1vw 0.35vw white); */
  background-position: center;
  font-size: 1.5vw;
}

a {
  color: rgb(2, 95, 161);
  text-decoration: none;
  display: inline;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(var(--translationStart, 0));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--translationEnd, 0));
  }
}


#desktopNavbar {
  /* background-color: #333; */
  margin-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.logo-img {
  max-width: 73vw;
  width: 100%;
  height: auto;
}

.logo-container {
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172)) drop-shadow(-0.2vw -0.2vw 0.8vw rgb(255, 255, 255, 0.9));
}

.hidden {
  display: none;
}

/* Style the navigation menu */
#mobileNavbar {
  display: none;
  text-align: right;
  margin-bottom: 1vh;
}

/* Style navigation menu links */
.pencil {
  color: white;
  padding: 0px 12vw 0px 0px;
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
  display: block;
  text-shadow: black 0px 0px 6vw;
  filter: drop-shadow(0.4vw 0.4vw 0.4vw rgb(172, 172, 172));
  height: 10vw;
  line-height: 10vw;
  font-size: 5vw;
  margin-right: -8vw;
}

.navlink {
  background-repeat: no-repeat;
  text-decoration: none;
  display: block;
  background-position: center;
}

/* Add a grey background color on mouse-over */
.pencil:hover {
  color: black;
}

#hamburgerIcon {
  width: 12vw;
  margin-right: 3vw;
  filter: drop-shadow(0vw 0.2vw 0.4vw white);
}

.hamburgerLines {
  fill: #7B3000;
  stroke: black;
  filter: drop-shadow(0vw 0vw 4px black) drop-shadow(0vw 0vw 9px white);
  stroke-width: 0.1rem;
}

.kite-inner-border {
  fill: #8ab93a;
}

.kite-lower-half {
  fill: #08a2db;
}

.kite-upper-half {
  fill: #f8cf0c;
}

.kite-outer-border {
  fill: none;
  stroke: #e63030;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}

.kite-mouth, .kite-tail {
  fill: #e63030;
}

.kite-eyes {
  fill: #0c69ab;
}

#kite {
  animation: rotateAnimation 1.5s ease-in-out infinite alternate;
  transform-origin: 10% 10%;
  margin-top: 1vw;
  max-width: 20vw;
  width: 100%;
  height: auto;
  margin-right: -13.7vw;
}


@keyframes rotateAnimation {
  0% {
    transform: translateX(-0.2vw) translateY(0vw) rotate(-1.5deg);
  }
  100% {
    transform: translateX(0vw) translateY(0vw) rotate(1.5deg);
  }
}

button {
  background-color: transparent;
  border-style: unset;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  border-color: black;
  font-size: 1rem;
}

button:active {
  color: black;
  background-color: white;
  border-color: black;
}

/* Hide the checkbox input */
.hiddenToggle {
  display: none;
}

.hiddenToggle:checked + .chevronContainer #chevronDownIcon {
  transform: rotate(180deg);
}

/* Initially hide the content */
.hiddenContent {
  display: none;
}

/* When the checkbox is checked, show the content */
.hiddenToggle:checked + .chevronContainer + .hiddenContent {
  display: block;
}
 
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal > .imageOverlay {
  width: 48vw;
}

.portrait > .imageOverlay {
  width: 35vw;
}

.btnContainer {
  position: absolute;
  display: flex;
  align-items: center;
}



.w3-button {
  z-index: 1;
  border:none;
  display:inline-block;
  padding:4px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color:white;
  background-color:transparent;
  font-size: 2rem;
  filter: drop-shadow(0vw 0vw 0.1rem black) drop-shadow(0vw 0vw 0.1rem skyblue)
}


.slideshow-container {
  margin-left: 1vw;
  float: right;
}

.prev{
  position:relative;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);

}
.next{
  position:relative;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);

}
.dotContainer {
  position: relative;
  text-align: center;
  top: -2vh;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 0.7rem;
    width: 0.7rem;
    margin: 0 0.1rem;
    background-color: white;
  filter: drop-shadow(0vw 0vw 0.07rem skyblue) drop-shadow(0vw 0vw 0.15rem gray);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.activeDot {
    background-color: skyblue;
  filter: drop-shadow(0vw 0vw 0.2rem white) drop-shadow(0vw 0vw 0.08rem black);
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.profileImage {
  border-radius: 50%;
  min-width: 20vh;
  width: 20vw;
  aspect-ratio: 1/1;
}


.framedLeft {
  margin: 0vw 2vw 0vw 0vw;
}

.framedRight {
  margin: 0vw 0vw 0vw 2vw;
}

.framed {
  border-color: #7B3000;
  border-style: groove;
  border-width: 0.25rem;
  filter: drop-shadow(0vw 0vw 0.3vw lightgray);
}

.googleMap {
  display: inline;
  max-width: 40vw;
  width: 100%;
  aspect-ratio : 4 / 3;
  border-radius: 5%;
}

.regularImage {
  display: inline;
  max-width: 40vw;
  width: 100%;
  border-radius: 5%;
  float: left;
}

.row {
  max-width: 50%;
  padding-right: 1vw;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  filter: drop-shadow(0vw 0vw 1.9vw lightgray);
}

/* Create four equal columns that sits next to each other */
.column {
  max-width: 32%;
  padding-left: 0.15vw;
  padding-right: 0.15vw;
}

.column img {
  margin: -0.15vw 0;
  border-width: 0.4vh;
  vertical-align: middle;
  width: 100%;
  border-style: solid;
  border-color: skyblue;
  border-radius: 3%;
}



.mySlides {
  display:none;
  border-radius: 4%;
  filter: drop-shadow(0.1vw 0.1vw 0.3vw gray);
}

.horizontal {
  aspect-ratio: 4/3;
}

.horizontal, .horizontal + .imageOverlay, .horizontal + .btnContainer {
  width: 48vw;
}
.portrait {
  aspect-ratio: 3/4;
}
.portrait, .portrait + .imageOverlay, .portrait + .btnContainer {
  width: 35vw;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 75vh) {
  .regularImage {
      max-width: 100vw;
    }

  .googleMap {
    max-width: 100vw;
  }

  .mySlides, .imageOverlay, .btnContainer {
    width: 90vw!important;
    padding: 2vw;
  }

  .horizontal + .btnContainer, .portrait + .btnContainer {
    width: 90vw;
  }
  
  .slideshow-container {
    margin: 0vw;
    float: unset;
  }

  .mySlides {
    /* width: 90vw; */
    border-radius: 8%;
    border-style: none;
    filter: none;
  }
  html {
    font-size: 4vmin;
  }
  ul {
    padding-inline-start: 3vw;
  }
  .row {
    max-width: 100%;
    padding: 0px;
  }
  .centered {
    text-align: center;
  }
  
  .w3-button, .w3-button:hover, .w3-button:active {
    font-size: 1.7rem;
    text-decoration: none;
  }

  .w3-button:active{
    color:black;
    filter: drop-shadow(0vw 0vw 0.1rem white) drop-shadow(0vw 0vw 0.2rem skyblue)
  }

  .framed {
    margin: 0px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .chevronContainer:hover {
    background-color: white;
    color: black;
  }

  .w3-button:hover {
    color:#000;
    background-color:transparent;
    font-size: 2rem;
    filter: drop-shadow(0vw 0vw 0.1rem white) drop-shadow(0vw 0vw 0.1rem skyblue)
  }

  .dot:hover {
    background-color: skyblue;
    filter: drop-shadow(0vw 0vw 0.2rem white) drop-shadow(0vw 0vw 0.15rem black);
  }




  
  #cookieConsent p {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2b2b2b; /* Dark background color */
    color: white; /* White text color */
    padding: 15px;
    text-align: center;
    z-index: 1000; /* Ensure it appears on top of other content */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for some depth */
}

#cookieConsent #cookie-popup {
    max-width: 800px; /* Limit the width of the popup content */
    margin: 0 auto; /* Center it horizontally */
}

#cookieConsent p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#cookieConsent a {
    text-decoration: underline;
}

#cookieConsent button {
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 0px;
    font-size: 14px;
    border: 2px solid rgb(2, 95, 161);
}

#acceptCookies {
  background-color: rgb(2, 95, 161);
}

p #rejectCookies {
  padding: 10px 16px;
}

#cookieConsent button:hover {
    background-color: rgb(0, 152, 209);
}

.no-color-link {
  color: #333;
}

}